<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"> </script>
<script
  src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js"> </script>

<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet" />

<style>
  .run .splide__arrows {
    display: none;
  }
</style>

<div class="px-5 pb-10">

  <div class="row">
    <div class="col-md-6">
      <h1 class="bold "style="color:#404040;font-weight:700;">Yummy Cakes</h1>
    </div>
    <div class="col-md-6 text-end">
      <a href="/collections/cake"
          class="btn btn-primary" style="background-color: #894e3f;color:#fff;">
          <span class="uppercase" style="font-size: 1.8rem;">View All</span>
        </a>
    </div>
    <div class="" style="height: 20px;"></div>
    <br><br>
    <div class="col-md-3 col-6 mt-4">
      <div class="card" >
        <img src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/cakebirthday.jpg?w=385" alt="" width="100%">
        <div class="row"style="padding:10px;">
          <div class="col-md-9">
            <h3 class="bold" style="color:#404040;font-weight:500;">Birthday Cakes</h3>
            <h6 class="text-[13px]">Starting from ₹ 499
              </h6>
          </div>
          <div class="col-md-3 text-end">
            <a href="/collections/birthday-cakes"><img src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/arrow.png" alt="arrow"
            class="object-cover w-full h-full"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 mt-4">
      <div class="card" >
        <img src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/cakeanniversary.jpg?w=385" alt="" width="100%">
        <div class="row"style="padding:10px;">
          <div class="col-md-9">
            <h3 class="bold" style="color:#404040;font-weight:500;">Anniversary Cakes</h3>
            <h6 class="text-[13px]">Starting from ₹ 499
              </h6>
          </div>
          <div class="col-md-3 text-end">
            <a href="/collections/anniversary-cakes"><img src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/arrow.png" alt="arrow"
            class="object-cover w-full h-full"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 mt-4">
      <div class="card" >
        <img src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/cakekids.jpg?w=385" alt="" width="100%">
        <div class="row"style="padding:10px;">
          <div class="col-md-9">
            <h3 class="bold" style="color:#404040;font-weight:500;">Kids Cakes</h3>
            <h6 class="text-[13px]">Starting from ₹ 479
              </h6>
          </div>
          <div class="col-md-3 text-end">
            <a href="/collections/kids-cakes"><img src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/arrow.png" alt="arrow"
            class="object-cover w-full h-full"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 mt-4">
      <div class="card" >
        <img src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/cakepremium.jpg?w=385" alt="" width="100%">
        <div class="row"style="padding:10px;">
          <div class="col-md-9">
            <h3 class="bold" style="color:#404040;font-weight:500;">Premium Cakes</h3>
            <h6 class="text-[13px]">Starting from ₹ 649
              </h6>
          </div>
          <div class="col-md-3 text-end">
            <a href="/collections/chocolate-cakes"><img src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/arrow.png" alt="arrow"
            class="object-cover w-full h-full"></a>
          </div>
        </div>
      </div>
    </div>

    
  
  </div>
</div>

<section class="splide run pt-4 pb-4 mt-5" style="background: antiquewhite;">
  <div class="splide__track">
    <ul class="splide__list">

      <li class="splide__slide text-center">
        <h4 style="margin-bottom: 0;">100% VEG</h4>
      </li>
      <li class="splide__slide  text-center">
        <h4 style="margin-bottom: 0;">100% EGGLESS</h4>
      </li>

    </ul>
  </div>
</section>

<div class="mt-5 px-5 pb-10">

  <div class="row">
    <div class="col-md-6">
      <h1 class="bold "style="color:#404040;font-weight:700;">Cookies</h1>
    </div>
    <div class="col-md-6 text-end">
      <a href="/collections/cookies"
          class="btn btn-primary" style="background-color: #894e3f;color:#fff;">
          <span class="uppercase" style="font-size: 1.8rem;">View All</span>
        </a>
    </div>
    <div class="" style="height: 20px;"></div>
    <br><br>
    <div class="col-md-3 col-6 mt-4">
      <div class="card" >
        <img src="https://cdn.shopify.com/s/files/1/0607/1720/3525/files/SC_6163.png?v=1721986228" alt="" width="100%">
        <div class="row"style="padding:10px;">
          <div class="col-md-9">
            <h3 class="bold" style="color:#404040;font-weight:500;">Oats Cookies</h3>
            <h6 class="text-[13px]">Starting from ₹ 200
              </h6>
          </div>
          <div class="col-md-3 text-end">
            <a href="/collections/cookies"><img src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/arrow.png" alt="arrow"
            class="object-cover w-full h-full"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 mt-4">
      <div class="card" >
        <img src="https://cdn.shopify.com/s/files/1/0607/1720/3525/files/SC_3337_d9f78c24-75a2-40dd-877c-b4ccd226ae3d.png?v=1721985667" alt="" width="100%">
        <div class="row"style="padding:10px;">
          <div class="col-md-9">
            <h3 class="bold" style="color:#404040;font-weight:500;">Biscotee Cookies</h3>
            <h6 class="text-[13px]">Starting from ₹ 300
              </h6>
          </div>
          <div class="col-md-3 text-end">
            <a href="/collections/cookies"><img src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/arrow.png" alt="arrow"
            class="object-cover w-full h-full"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 mt-4">
      <div class="card" >
        <img src="https://cdn.shopify.com/s/files/1/0607/1720/3525/files/SC_3356.png?v=1721985561" alt="" width="100%">
        <div class="row"style="padding:10px;">
          <div class="col-md-9">
            <h3 class="bold" style="color:#404040;font-weight:500;">Fruits Cookies</h3>
            <h6 class="text-[13px]">Starting from ₹ 339
              </h6>
          </div>
          <div class="col-md-3 text-end">
            <a href="/collections/cookies"><img src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/arrow.png" alt="arrow"
            class="object-cover w-full h-full"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 mt-4">
      <div class="card" >
        <img src="https://cdn.shopify.com/s/files/1/0607/1720/3525/files/SC_6024.png?v=1721985369" alt="" width="100%">
        <div class="row"style="padding:10px;">
          <div class="col-md-9">
            <h3 class="bold" style="color:#404040;font-weight:500;">Rusk Cookies</h3>
            <h6 class="text-[13px]">Starting from ₹ 199
              </h6>
          </div>
          <div class="col-md-3 text-end">
            <a href="/collections/cookies"><img src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/arrow.png" alt="arrow"
            class="object-cover w-full h-full"></a>
          </div>
        </div>
      </div>
    </div>

    
  
  </div>
</div>


<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Splide('.run', {
      type: 'loop',
      drag: 'free',
      focus: 'center',
      perPage: 6,
      autoScroll: {
        speed: 1,
      },
      breakpoints: {
       
        768: {
          perPage: 3,
        },
        576: {
          perPage: 2,
        },
      },

      focus: "center",
    }).mount(window.splide.Extensions);
  });
</script>