<div class="px-5 " style="padding: 30px;">
  <div class="flex flex-col">
    <div class="flex flex-row justify-between items-center">
      <h3 class="text-[20px] md:text-[30px] font-bold text-[#4d4d4d]">Beautiful Flowers</h3>

      <div class="flex items-center justify-center">
        <a href="#" class="px-4 py-2 bg-primary text-white rounded-md font-medium tracking-widest hover:bg-primary/90 transition-all">
          <span class="uppercase">View All</span>
        </a>
      </div>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-5 mt-5">
      <a href="#" class="banner-shadow block w-full rounded-md">
        <div class="flex flex-col">
          <img
            src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/floerbirthday.jpg?w=385"
            alt="bcd"
            class="rounded-t-md">

          <div class="bg-white py-1 px-3 flex flex-row justify-between items-center rounded-b-md">
            <div class="flex flex-col">
              <h4 class="text-[#404040] text-[13px] md:text-[18px] font-semibold">Birthday Flowers</h4>
              <p class="text-[13px]">Starting from ₹ 499
              </p>
            </div>

            <div class="w-[26px] h-[26px] md:w-[35px] md:h-[35px]">
              <img
                src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/arrow.png"
                alt="arrow"
                class="object-cover w-full h-full">
            </div>
          </div>
        </div>
      </a>

      <a href="#" class="banner-shadow block w-full rounded-md">
        <div class="flex flex-col">
          <img
            src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/floweranniversary.jpg?w=385"
            alt="bcd"
            class="rounded-t-md">

          <div class="bg-white py-1 px-3 flex flex-row justify-between items-center rounded-b-md">
            <div class="flex flex-col">
              <h4 class="text-[#404040] text-[13px] md:text-[18px] font-semibold">Anniversary Flowers</h4>
              <p class="text-[13px]">Starting from ₹ 499
              </p>
            </div>

            <div class="w-[26px] h-[26px] md:w-[35px] md:h-[35px]">
              <img
                src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/arrow.png"
                alt="arrow"
                class="object-cover w-full h-full">
            </div>
          </div>
        </div>
      </a>

      <a href="#" class="banner-shadow block w-full rounded-md">
        <div class="flex flex-col">
          <img
            src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/flowercongo.jpg?w=385"
            alt="bcd"
            class="rounded-t-md">

          <div class="bg-white py-1 px-3 flex flex-row justify-between items-center rounded-b-md">
            <div class="flex flex-col">
              <h4 class="text-[#404040] text-[13px] md:text-[18px] font-semibold">Congratulations Flowers</h4>
              <p class="text-[13px]">Starting from ₹ 599
              </p>
            </div>

            <div class="w-[26px] h-[26px] md:w-[35px] md:h-[35px]">
              <img
                src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/arrow.png"
                alt="arrow"
                class="object-cover w-full h-full">
            </div>
          </div>
        </div>
      </a>

      <a href="#" class="banner-shadow block w-full rounded-md">
        <div class="flex flex-col">
          <img
            src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/flowerroses.jpg?w=385"
            alt="bcd"
            class="rounded-t-md">

          <div class="bg-white py-1 px-3 flex flex-row justify-between items-center rounded-b-md">
            <div class="flex flex-col">
              <h4 class="text-[#404040] text-[13px] md:text-[18px] font-semibold">Roses</h4>
              <p class="text-[13px]">Starting from ₹ 499
              </p>
            </div>

            <div class="w-[26px] h-[26px] md:w-[35px] md:h-[35px]">
              <img
                src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/arrow.png"
                alt="arrow"
                class="object-cover w-full h-full">
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>