<style>
  @media (max-width:670px) {

    .collection-v38__title {
      font-size: 13px !important;
    }

    .mbw {
      width: 80% !important;
    }
  }

  .collection-v38__item-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Adjust background color as needed */
    opacity: 0;
    /* transition: opacity 3.5s, transform 2.2s, background-color 2.5s, color 0.5s, width 1.5s; */
  }

  .collection-v38__box:hover .collection-v38__item-link {
    opacity: 1;
    display: flex;
 
  }

  .collection-v38__title {
    text-align: center;
    margin: 10%;
    color: black !important;
  }

  .collection-v38__img img {
    width: 100%;
  }

</style>

<div class="category-section px-5 py-16 ">
  <div class="">
    <div class="splide" id="categorySlider" role="group" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list " style="display:flex;     justify-content: center;">
          <li class="splide__slide">
            <div class="collection-v38__box hover-style hover-style--hover1"
              style="position: relative;border-radius: 50%;overflow: hidden;">
              <a href="/collections/cake" class="collection-v38__img">
                <div class="xo-image">
                  <img src="https://cdn.shopify.com/s/files/1/0607/1720/3525/files/750x2_Banner_Cake.jpg?v=1723032869"
                    alt="Image Description">
                </div>
              </a>
              <div class="collection-v38__item-link" style="align-items: center;">

                <div class="mbw"
                  style="width: 60%;padding: 10%;background-color: rgba(255, 255, 255);border-radius: 50%;margin: auto;">
                  <div style="border: .1rem solid black;border-radius: 50%;">
                    <h3 class="collection-v38__title text-center">
                      <a href="/collections/cake" class="collection-v38__link"
                        style="    text-decoration: auto;font-weight: 500;color:black;">Cake</a>
                    </h3>
                  </div>
                </div>

              </div>
            </div>
          </li>


          <li class="splide__slide">
            <div class="collection-v38__box hover-style hover-style--hover1"
              style="position: relative;border-radius: 50%;overflow: hidden;">
              <a href="/collections/Cookies" class="collection-v38__img">
                <div class="xo-image">
                  <img src="https://cdn.shopify.com/s/files/1/0607/1720/3525/files/SC_6049.png?v=1721974125"
                    alt="Image Description">
                </div>
              </a>
              <div class="collection-v38__item-link" style="align-items: center;">

                <div class="mbw"
                  style="width: 60%;padding: 10%;background-color: rgba(255, 255, 255);border-radius: 50%;margin: auto;">
                  <div style="border: .1rem solid black;border-radius: 50%;">
                    <h3 class="collection-v38__title text-center">
                      <a href="/collections/Cookies" class="collection-v38__link"
                        style="    text-decoration: auto;font-weight: 500;color:black;">Cookies</a>
                    </h3>
                  </div>
                </div>

              </div>
            </div>
          </li>



          <li class="splide__slide">
            <div class="collection-v38__box hover-style hover-style--hover1"
              style="position: relative;border-radius: 50%;overflow: hidden;">
              <a href="/collections/brades" class="collection-v38__img">
                <div class="xo-image">
                  <img src="https://cdn.shopify.com/s/files/1/0607/1720/3525/files/750x2_Banner_Bread.jpg?v=1723032869"
                    alt="Image Description">
                </div>
              </a>
              <div class="collection-v38__item-link" style="align-items: center;">

                <div class="mbw"
                  style="width: 60%;padding: 10%;background-color: rgba(255, 255, 255);border-radius: 50%;margin: auto;">
                  <div style="border: .1rem solid black;border-radius: 50%;">
                    <h3 class="collection-v38__title text-center">
                      <a href="/collections/brades" class="collection-v38__link"
                        style="    text-decoration: auto;font-weight: 500;color:black;">Breads</a>
                    </h3>
                  </div>
                </div>

              </div>
            </div>
          </li>



        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  new Splide('#categorySlider', {
    type: "slide",
    pagination: true,
    perPage: 4,
    loop: true,
    perMove: 1,
    gap: "30px",
    arrows: false,

    breakpoints: {
      500: {
        perPage: 2,
        perMove: 1
      },
      640: {
        perPage: 2,
        perMove: 1
      },
      768: {
        perPage: 3,
        perMove: 1
      },
      1024: {
        perPage: 4,
        perMove: 1
      },
      1280: {
        perPage: 4,
        perMove: 1
      }

    },
    autoplay: true, // Add this line to enable autoplay
    interval: 2000,
  }).mount();
</script>