{% style %}
  .stripBg {
    background-image: url('https://assets.winni.in/groot/2022/07/22/homepage/desktop/bg.jpg?w=1600');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
  }
{% endstyle %}

<div class="py-7 stripBg">
  <div class="px-5 " style="display:none;" >
    <div class="grid grid-cols-2 md:grid-cols-4 gap-5">
      <div class="banner-shadow bg-white rounded-md flex items-center gap-3 p-2">
        <div class="img w-[38px] h-[38px] md:w-[58px] md:h-[58px]">
          <img
            src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/servicesafe.png?w=115"
            alt="Safe"
            class="w-full h-full object-cover">
        </div>
        <div class="flex flex-col">
          <span class="text-[15px] md:text-[20px] text-primary font-bold">Safe & Hygienic</span>
          <span class="text-[12px] md:text-[18px] font-bold text-[#333]">Bakery</span>
        </div>
      </div>

      <div class="banner-shadow bg-white rounded-md flex items-center gap-3 p-2">
        <div class="img w-[38px] h-[38px] md:w-[58px] md:h-[58px]">
          <img
            src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/servicedelivery.png?w=115"
            alt="Safe"
            class="w-full h-full object-cover">
        </div>
        <div class="flex flex-col">
          <span class="text-[15px] md:text-[20px] text-primary font-bold">Delivery In 700+</span>
          <span class="text-[12px] md:text-[18px] font-bold text-[#333]">Cities</span>
        </div>
      </div>

      <div class="banner-shadow bg-white rounded-md flex items-center gap-3 p-2">
        <div class="img w-[38px] h-[38px] md:w-[58px] md:h-[58px]">
          <img
            src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/servicetrust.png?w=115"
            alt="Safe"
            class="w-full h-full object-cover">
        </div>
        <div class="flex flex-col">
          <span class="text-[15px] md:text-[20px] text-primary font-bold">
            1 Million People</span>
          <span class="text-[12px] md:text-[18px] font-bold text-[#333]">Trust Us</span>
        </div>
      </div>

      <div class="banner-shadow bg-white rounded-md flex items-center gap-3 p-2">
        <div class="img w-[38px] h-[38px] md:w-[58px] md:h-[58px]">
          <img
            src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/servicepincode.png?w=115"
            alt="Safe"
            class="w-full h-full object-cover">
        </div>
        <div class="flex flex-col">
          <span class="text-[15px] md:text-[20px] text-primary font-bold">
            18000+ Pincodes</span>
          <span class="text-[12px] md:text-[18px] font-bold text-[#333]">Serviced Till Date</span>
        </div>
      </div>
    </div>
  </div>
</div>