<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<style>
  .collection-v38__item-link {
    position: absolute;
    left:10% ;
    right: 10px;
    width: 80%;
    height: 100%;
    top:20%;


    /* Adjust background color as needed */
    opacity: 0;
    transition: opacity 3.5s, transform 2.2s, background-color 2.5s, color 0.5s, width 1.5s;
  }

  .collection-v38__box:hover .collection-v38__item-link {
    opacity: 1;
    display: flex;
    top:0%;
  }

  .collection-v38__title {
    text-align: center;
    margin: 10%;
    color: black !important;
  }

  .collection-v38__img img {
    width: 100%;
  }
</style>



<div class="" style="max-width: 90%;margin:auto;">
  <div class="row " style="    justify-content: space-around;">
    <div class="col-md-3 mt-3">
      <div class="collection-v38__box hover-style hover-style--hover1" style="position: relative;border-radius: 50%;overflow: hidden;">
        <a href="/collections/cake" class="collection-v38__img">
          <div class="xo-image">
            <img src="https://cdn.shopify.com/s/files/1/0607/1720/3525/files/750x2_Banner_Cake.jpg?v=1723032869" alt="Image Description">
          </div>
        </a>
        <div class="collection-v38__item-link" style="align-items: center;">
          
          <div style="width: 60%;padding: 10%;background-color: rgba(255, 255, 255);border-radius: 50%;margin: auto;">
            <div style="border: .1rem solid black;border-radius: 50%;">
              <h1 class="collection-v38__title text-center">
                <a href="/collections/cake" class="collection-v38__link" style="    text-decoration: auto;font-weight: 500;color:black;">Cake</a>
              </h1>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="collection-v38__box hover-style hover-style--hover1" style="position: relative;border-radius: 50%;overflow: hidden;">
        <a href="/collections/Cookies" class="collection-v38__img">
          <div class="xo-image">
            <img src="https://cdn.shopify.com/s/files/1/0607/1720/3525/files/SC_6049.png?v=1721974125" alt="Image Description">
          </div>
        </a>
        <div class="collection-v38__item-link" style="align-items: center;">
          
          <div style="width: 60%;padding: 10%;background-color: rgba(255, 255, 255);border-radius: 50%;margin: auto;">
            <div style="border: .1rem solid black;border-radius: 50%;">
              <h1 class="collection-v38__title text-center">
                <a href="/collections/Cookies" class="collection-v38__link" style="    text-decoration: auto;font-weight: 500;color:black;">Cookies</a>
              </h1>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="collection-v38__box hover-style hover-style--hover1" style="position: relative;border-radius: 50%;overflow: hidden;">
        <a href="/collections/brades" class="collection-v38__img">
          <div class="xo-image">
            <img src="https://cdn.shopify.com/s/files/1/0607/1720/3525/files/750x2_Banner_Bread.jpg?v=1723032869" alt="Image Description">
          </div>
        </a>
        <div class="collection-v38__item-link" style="align-items: center;">
          
          <div style="width: 60%;padding: 10%;background-color: rgba(255, 255, 255);border-radius: 50%;margin: auto;">
            <div style="border: .1rem solid black;border-radius: 50%;">
              <h1 class="collection-v38__title text-center">
                <a href="/collections/brades" class="collection-v38__link" style="    text-decoration: auto;font-weight: 500;color:black;">Breads</a>
              </h1>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

