<div class="px-5 py-10">
  <div class="flex flex-col">
    <div class="flex flex-row justify-center items-center">
      <h3 class="text-[20px] md:text-[30px] font-bold text-[#4d4d4d]">Explore More With Us</h3>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-5 mt-5">
      <a href="#" class="banner-shadow block w-full rounded-md">
        <div class="flex flex-col">
          <img
            src="	https://assets.winni.in/groot/2022/07/22/homepage/desktop//enjewellery.jpg?w=385"
            alt="bcd"
            class="rounded-t-md">

          <div class="bg-white py-1 px-3 flex flex-row justify-between items-center rounded-b-md">
            <div class="flex flex-col">
              <h4 class="text-[#404040] text-[13px] md:text-[18px] font-semibold">Jewellery</h4>
              <p class="text-[13px]">Starting from
                <span>₹</span>
                399
              </p>
            </div>

            <div class="w-[26px] h-[26px] md:w-[35px] md:h-[35px]">
              <img
                src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/arrow.png"
                alt="arrow"
                class="object-cover w-full h-full">
            </div>
          </div>
        </div>
      </a>

      <a href="#" class="banner-shadow block w-full rounded-md">
        <div class="flex flex-col">
          <img
            src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/enmug.jpg?w=385"
            alt="bcd"
            class="rounded-t-md">

          <div class="bg-white py-1 px-3 flex flex-row justify-between items-center rounded-b-md">
            <div class="flex flex-col">
              <h4 class="text-[#404040] text-[13px] md:text-[18px] font-semibold">Personalized Mugs</h4>
              <p class="text-[13px]">Starting from
                <span>₹</span>
                245
              </p>
            </div>

            <div class="w-[26px] h-[26px] md:w-[35px] md:h-[35px]">
              <img
                src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/arrow.png"
                alt="arrow"
                class="object-cover w-full h-full">
            </div>
          </div>
        </div>
      </a>

      <a href="#" class="banner-shadow block w-full rounded-md">
        <div class="flex flex-col">
          <img
            src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/enaccessories.jpg?w=385"
            alt="bcd"
            class="rounded-t-md">

          <div class="bg-white py-1 px-3 flex flex-row justify-between items-center rounded-b-md">
            <div class="flex flex-col">
              <h4 class="text-[#404040] text-[13px] md:text-[18px] font-semibold">Accessories</h4>
              <p class="text-[13px]">Starting from
                <span>₹</span>
                299
              </p>
            </div>

            <div class="w-[26px] h-[26px] md:w-[35px] md:h-[35px]">
              <img
                src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/arrow.png"
                alt="arrow"
                class="object-cover w-full h-full">
            </div>
          </div>
        </div>
      </a>

      <a href="#" class="banner-shadow block w-full rounded-md">
        <div class="flex flex-col">
          <img
            src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/enhomedecore.jpg?w=385"
            alt="bcd"
            class="rounded-t-md">

          <div class="bg-white py-1 px-3 flex flex-row justify-between items-center rounded-b-md">
            <div class="flex flex-col">
              <h4 class="text-[#404040] text-[13px] md:text-[18px] font-semibold">Home Decor</h4>
              <p class="text-[13px]">Starting from
                <span>₹</span>
                299
              </p>
            </div>

            <div class="w-[26px] h-[26px] md:w-[35px] md:h-[35px]">
              <img
                src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/arrow.png"
                alt="arrow"
                class="object-cover w-full h-full">
            </div>
          </div>
        </div>
      </a>

      {% comment %} Hllklajflkjsdlkfja {% endcomment %}

      <a href="#" class="banner-shadow block w-full rounded-md">
        <div class="flex flex-col">
          <img
            src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/enhandbag.jpg?w=385"
            alt="bcd"
            class="rounded-t-md">

          <div class="bg-white py-1 px-3 flex flex-row justify-between items-center rounded-b-md">
            <div class="flex flex-col">
              <h4 class="text-[#404040] text-[13px] md:text-[18px] font-semibold">Handbags</h4>
              <p class="text-[13px]">Starting from
                <span>₹</span>
                349
              </p>
            </div>

            <div class="w-[26px] h-[26px] md:w-[35px] md:h-[35px]">
              <img
                src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/arrow.png"
                alt="arrow"
                class="object-cover w-full h-full">
            </div>
          </div>
        </div>
      </a>

      <a href="#" class="banner-shadow block w-full rounded-md">
        <div class="flex flex-col">
          <img
            src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/encandales.jpg?w=385"
            alt="bcd"
            class="rounded-t-md">

          <div class="bg-white py-1 px-3 flex flex-row justify-between items-center rounded-b-md">
            <div class="flex flex-col">
              <h4 class="text-[#404040] text-[13px] md:text-[18px] font-semibold">Candles</h4>
              <p class="text-[13px]">Starting from
                <span>₹</span>
                649
              </p>
            </div>

            <div class="w-[26px] h-[26px] md:w-[35px] md:h-[35px]">
              <img
                src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/arrow.png"
                alt="arrow"
                class="object-cover w-full h-full">
            </div>
          </div>
        </div>
      </a>

      <a href="#" class="banner-shadow block w-full rounded-md">
        <div class="flex flex-col">
          <img
            src="	https://assets.winni.in/groot/2022/07/22/homepage/desktop/enhandmade.jpg?w=385"
            alt="bcd"
            class="rounded-t-md">

          <div class="bg-white py-1 px-3 flex flex-row justify-between items-center rounded-b-md">
            <div class="flex flex-col">
              <h4 class="text-[#404040] text-[13px] md:text-[18px] font-semibold">Handmade Gifts</h4>
              <p class="text-[13px]">Starting from
                <span>₹</span>
                849
              </p>
            </div>

            <div class="w-[26px] h-[26px] md:w-[35px] md:h-[35px]">
              <img
                src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/arrow.png"
                alt="arrow"
                class="object-cover w-full h-full">
            </div>
          </div>
        </div>
      </a>

      <a href="#" class="banner-shadow block w-full rounded-md">
        <div class="flex flex-col">
          <img
            src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/enutensil.jpg?w=385"
            alt="bcd"
            class="rounded-t-md">

          <div class="bg-white py-1 px-3 flex flex-row justify-between items-center rounded-b-md">
            <div class="flex flex-col">
              <h4 class="text-[#404040] text-[13px] md:text-[18px] font-semibold">Utensils</h4>
              <p class="text-[13px]">Starting from
                <span>₹</span>
                599
              </p>
            </div>

            <div class="w-[26px] h-[26px] md:w-[35px] md:h-[35px]">
              <img
                src="https://assets.winni.in/groot/2022/07/22/homepage/desktop/arrow.png"
                alt="arrow"
                class="object-cover w-full h-full">
            </div>
          </div>
        </div>
      </a>


    </div>
  </div>
</div>